@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white antialiased;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

